@model EditMovieViewModel
@{
    ViewBag.Title = "Edit Movie";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="mb-3">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="Movie title...">
                    <span asp-validation-for="Title" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" aria-required="true" rows="5" placeholder="Write movie description here..."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ReleaseDate"></label>
                    <input asp-for="ReleaseDate" class="form-control" aria-required="true" type="date" value="@Model.ReleaseDate.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Duration"></label>
                    <input asp-for="Duration" class="form-control" type="number">
                </div>
                <div>
                    <label asp-for="DirectorId"></label>
                    <input asp-for="DirectorId" class="form-control" type="number">
                </div>
                <div class="mb-3">
                    <label asp-for="CoverImageUrl"></label>
                    <input asp-for="CoverImageUrl" class="form-control" >
                    <span asp-validation-for="CoverImageUrl" class="small text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="TrailerUrl"></label>
                    <input asp-for="TrailerUrl" class="form-control" >
                    <span asp-validation-for="TrailerUrl" class="small text-danger"></span>
                </div>
            </div>
            <input class="btn btn-primary mt-3" type="submit" value="Submit" />
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}