@model List<AllGroupViewModel>

@{
    ViewBag.Title = "Groups";
    bool hasGroups = Model.Any();
}


<div class="center-container">
    <div class="title">Groups</div>

    <div class="groups-container">
        @if (!hasGroups)
        {
            <p>You don't have any groups yet.</p>
        }
        else
        {
            @foreach (var group in Model)
            {
                <a asp-action="Details" asp-controller="Group" asp-route-groupId="@group.Id" class="group-card">
                    <i class="group-icon">@group.Icon</i>
                    <div class="group-name">
                        @group.Name
                    </div>
                </a>
            }
        }
    </div>
    <a asp-action="Create" asp-controller="Group" class="create-group-button">
        <i class="group-icon fas fa-plus"></i>
        <div class="group-name">CreateAsync New Group</div>
    </a>
</div>
