@model CriticDetailsViewModel
@{
    ViewBag.Title = $"{Model.Name} - FilmIdea";
}
<style>
    .profile-container {
        max-width: 600px;
        background-color: #f5f5f5;
        border-radius: 15px;
        margin: 25px auto;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img-round {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    h1 {
        font-size: 28px;
        color: #333;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        color: #777;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .info-label {
        font-size: 17px;
        color: black;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .info-value {
        font-size: 18px;
        color: #333;
    }

    .btn-container {
        position:  absolute!important;
        top: 107px !important;
        right: 20px;
    }

    .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-edit {
        background-color: #3498db;
        color: #fff;
    }

    .btn-delete {
        background-color: #e74c3c;
        color: #fff;
    }

    .btn:hover {
        background-color: #2c3e50;
    }
</style>

<div class="btn-container">
    <a asp-area="" asp-controller="Critic" asp-action="Edit" class="btn btn-edit">Edit</a>
    <a asp-area="" asp-controller="Critic" asp-action="Delete"
       class="btn btn-delete"
       onclick="return showDeleteConfirmation()">
        Delete</a>
</div>

<div class="profile-container">
    <img class="img-round" src="@Model.ProfileImageUrl" alt="Profile Image" />
    <h1>@Model.Name</h1>
    <div class="info-label">Date of Birth:</div>
    <div class="info-value">@Model.DateOfBirth</div>
    <div class="info-label">Biography:</div>
    <p>@Model.Bio</p>
</div>

@section scripts {
    <script src="~/js/delete.js"></script>
}





