html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.content-button-link {
    color: black;
    text-decoration: none;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: blue;
    background-clip: padding-box;
    border: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

navbar-light .navbar-nav .nav-link:active {
    color: rgba(0,0,0,.7);
}

.dropdown-item:hover {
    background-color: #404345 !important;
    margin-left: 10px;
    width: 95%;
}

#toast-container {
    top: 75px;
    right: 15px;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
    background-color: #404345 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.nav-text-white {
    color: white !important;
    font-size: 161%;
    margin-top: 19px;
}



.nav-text-black {
    color: #9f9f9f !important;
    font-size: 161%;
    margin-top: 19px;
}

.navbar-shadow {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: inset 0px 49px 21px rgba(0, 0, 0, 0.7) !important;
    z-index: 1;
}

.nav-element {
    font-size: 185% !important;
    margin-top: 4px !important;
    margin-left: 5px !important;
}

.nav-Section-element {
    color: black !important;
    font-size: 100% !important;
    margin-top: 4px !important;
    margin-left: 5px !important;
    text-decoration: unset !important;
}

body {
    margin-bottom: 60px;
}

    body.background-image {
        position: relative;
        background-image: url('/HomeTemplate.png');
        background-size: cover;
    }

        body.background-image::after {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: -1;
        }

img.logo {
    width: 100%;
}

.section-user {
    width: 30%;
    float: left;
    box-sizing: border-box;
}

.section-body {
    background-color: #d6d6d6;
    width: 70%;
    float: left;
    box-sizing: border-box;
}

.home-slogan {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: ui-serif;
    cursor: default;
}

.page-btn {
    text-decoration: unset;
    font-size: 55px;
}

button.btn-login {
    width: 122px;
    background-color: white !important;
}

button.btn-section {
    width: 84px;
    background-color: white !important;
}

button.btn-register {
    width: 235px;
    background-color: #ff4458 !important;
    border-style: unset;
    height: 55px;
}

.login-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0;
    font-size: 20px;
    height: 32px;
}

.register-btn {
    padding: 0 !important;
    font-size: 20px !important;
    height: 32px !important;
}

.container-custom {
    display: flex !important;
    width: 400px !important;
    height: 200px !important;
}

.center-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.list-inline {
    list-style: none;
    padding: 0;
}

    .list-inline li {
        margin-right: 10px;
        padding-top: 3px;
    }


.menu {
    position: relative;
    list-style: none;
}


#section1 {
    left: calc(4.95% + 12px);
}

#section2 {
    left: calc(5% + 120px + 12px);
}

.menu-item {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.menu-elemet {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.menu-section {
    display: none;
    position: absolute;
    top: 82%;
    left: 0;
    display: none;
    background-color: #404345;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border-top-left-radius: 0;
    border: none;
    z-index: 20;
}

    .menu-item:hover,
    .menu-section:hover {
        background-color: #404345;
    }

.menu-item.active {
    background-color: #404345;
}

.menu-item:hover + .menu-section,
.menu-section:hover {
    display: block;
}

.ul-head {
    color: #9f9f9f;
    position: relative;
    top: 10px;
    left: 5%;
}

.menu-li-popular {
    color: #d6d6d6;
    margin-left: 5%;
    text-decoration: none;
}

    .menu-li-popular :hover {
        color: #d6d6d6;
        margin-left: 5%;
        text-decoration: none;
        padding: 1%;
        padding-left: 7px;
        width: 230px;
    }

.menu-li-genres {
    color: #d6d6d6;
    margin-left: 5%;
    text-decoration: none;
}

    .menu-li-genres :hover {
        color: #d6d6d6;
        margin-left: 5%;
        text-decoration: none;
        padding: 1%;
        padding-left: 7px;
        width: 130px;
    }

.image-container {
    text-decoration: unset;
    width: 5%;
}

.movie-title {
    font-size: 14px;
    padding-top: 10px;
}

/*Swipe*/
.tinder-container {
    text-align: center;
    margin: 20px;
}

.tinder-card-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
}

.tinder-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    width: 300px;
    margin: 10px;
}

.tinder-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.tinder-buttons {
    margin: 20px 0;
}

.tinder-btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

.tinder-btn-dislike {
    background-color: #FF4136;
    color: #fff;
    margin-right: 10px;
}

.tinder-btn-like {
    background-color: #2ECC40;
    color: #fff;
    margin-left: 10px;
}

/*Resset Button*/

.reset-button {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    transition: background-color 0.3s;
}

    .reset-button:hover {
        background-color: #ff7f84;
    }

.button-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}

.button-text {
    margin-right: 30px;
}


/*Genre*/

.genre-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.genre-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

    .genre-card:hover {
        transform: scale(1.05);
    }

.genre-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.genre-name {
    font-size: 18px;
    font-weight: bold;
}

.genre-link {
    text-decoration: none;
    color: #333;
}


.tinder-card.no-movies {
    background-color: #f9f9f9;
    width: 670px !important;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

    .tinder-card.no-movies h3 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .tinder-card.no-movies p {
        font-size: 24px;
    }

.reset-container {
    text-align: center;
    margin-top: 40px;
}

.reset-button {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    transition: background-color 0.3s;
}

    .reset-button:hover {
        background-color: #ff7f84;
    }

    .reset-button .button-icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 30px;
    }

    .reset-button .button-text {
        margin-right: 10px;
        font-family: monospace;
    }

.selected {
    background-color: #007bff;
    color: #fff;
}


/*Grops page*/

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groups-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.group-card {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    height: 150px;
    width: 150px;
    cursor: pointer;
    text-decoration: unset !important;
}

    .group-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.groups-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.group-name a {
    text-decoration: none;
}

.group-icon {
    font-size: 70px;
    color: gray;
    font-style: inherit;
    cursor: pointer;
}

.group-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

    .group-name a {
        color: #333;
    }

.create-group-button {
    font-size: 36px;
    color: #007bff;
    margin: 10px;
    background-color: #f8f8f8;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .create-group-button:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.group-name a,
.create-group-button {
    text-decoration: none;
}

    .create-group-button i {
        text-decoration: none;
    }

.title {
    font-size: 35px;
    font-weight: 600;
}


/*MoviesPartial*/

.card-font {
    font-size: 1rem;
}

h3.title {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.show-more-btn {
    padding: 0;
    margin-bottom: 0.3%;
    text-decoration: unset;
    color: #666;
}

.actor-details {
    margin-top: 30px;
}

.actor-profile {
    width: 100%;
    height: 93%;
    text-align: center;
    margin-bottom: 30px;
}

.content-button {
    width: 100%;
    height: 46.1%;
    margin-bottom: 4px;
    background-color: #d6d6d6e8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .content-button i {
        margin-top: 33.3%;
        margin-bottom: 5px;
        font-size: 30px;
    }

.actor-image {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.actor-name {
    font-size: 36px;
    margin-top: 20px;
    color: #007bff;
}

.actor-birthdate {
    font-size: 18px;
    color: #666;
    margin-top: -10px;
}

.actor-links {
    margin-top: 20px;
}

    .actor-links .btn {
        margin-bottom: 10px;
    }

.actor-bio {
    margin-top: -15px;
}

    .actor-bio p {
        font-size: 18px;
        line-height: 1.5;
        color: #666;
        margin-bottom: 10px;
    }

.empty {
    width: 100%;
    height: 93%;
    background-color: #d6d6d6e8;
    justify-content: center;
    display: flex;
    justify-content: center;
}

.no-content-msg {
    font-size: 20px;
    color: #999;
    margin-bottom: 4px;
}

.movie-list {
    list-style: none;
    padding: 0;
}

    .movie-list li {
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 18px;
        display: flex;
        align-items: center;
    }

.movie-title {
    font-weight: bold;
    color: #007bff;
}

/*Group Details*/

.left-section {
    width: 22%;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    margin-left: 2%;
    padding: 1% 2% 2% 0%;
}

.right-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.chat-box {
    height: 415px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

    .message.sender {
        flex-direction: column;
        align-items: flex-end;
    }

    .message.receiver {
        flex-direction: column;
        align-items: flex-start;
    }

    .message p {
        margin: 0;
        font-size: 12px;
    }

.message-content-receiver {
    background-color: #dadada;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.message-content-sender {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}


#messageInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
}

#sendMessageButton {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

    #sendMessageButton:disabled {
        background-color: #ccc;
        cursor: auto;
    }


.line {
    height: 1px;
    background-color: #ccc;
    width: 120%;
    margin-left: -10%;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

    .button:hover {
        background-color: #45a049;
    }

.add-user-button {
    background-color: #2196F3;
}

    .add-user-button:hover {
        background-color: #0c7cd5;
    }

.leave-group-button {
    background-color: #FF5722;
}

    .leave-group-button:hover {
        background-color: #d8461d;
    }


/*Review*/

.card-title-font {
    font-size: 20px;
    font-weight: 700;
}

.fs-25 {
    font-size: 25px !important;
}


@charset "UTF-8";

/***********************************
      /* 2. CONTENT */
/***********************************/
/* 2.1. Section error */
.error {
    min-height: 100vh;
    position: relative;
    padding: 240px 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 70px;
}

.error__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.error__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.error__message {
    text-align: center;
    color: #181828;
}

.message__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 5.6rem;
    padding-bottom: 40px;
    max-width: 960px;
    margin: 0 auto;
}

.message__text {
    font-family: 'Montserrat', sans-serif;
    line-height: 42px;
    font-size: 18px;
    padding: 0 60px;
    max-width: 680px;
    margin: auto;
}

.error__nav {
    max-width: 600px;
    margin: 40px auto 0;
    text-align: center;
}

.e-nav__form {
    position: relative;
    height: 45px;
    overflow: hidden;
    width: 170px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #212121;
    padding-left: 10px;
    padding-right: 46px;
}

.e-nav__icon {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #212121;
    -webkit-transition: color .25s ease;
    transition: color .25s ease;
}

.e-nav__link {
    height: 45px;
    line-height: 45px;
    width: 170px;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    border: 1px solid #181828;
    color: #181828;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1rem;
    position: relative;
    overflow: hidden;
}

    .e-nav__link:before {
        content: '';
        height: 200px;
        background: #212121;
        position: absolute;
        top: 70px;
        right: 70px;
        width: 260px;
        -webkit-transition: all .3s;
        transition: all .3s;
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }

    .e-nav__link:after {
        -webkit-transition: all .3s;
        transition: all .3s;
        z-index: 999;
        position: relative;
    }

    .e-nav__link:after {
        content: "Home Page";
    }

    .e-nav__link:hover:before {
        top: -60px;
        right: -50px;
    }

    .e-nav__link:hover {
        color: #fff;
    }

    .e-nav__link:nth-child(2):hover:after {
        color: #fff;
    }
/* 2.1. END Section Error */

/* 2.2. Social style */
.error__social {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    z-index: 10;
}

.e-social__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.e-social__icon {
    padding-bottom: 30px;
}

    .e-social__icon:last-child {
        padding-bottom: 0;
    }

.e-social__link {
    color: #fff;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    display: block;
}

    .e-social__link:hover {
        opacity: .7;
    }
/* 2.2. END Social style */

/* 2.3. Lamp */
.lamp {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center top;
    animation-timing-function: cubic-bezier(0.6, 0, 0.38, 1);
    animation: move 5.1s infinite;
}

@keyframes move {
    0% {
        transform: rotate(40deg);
    }

    50% {
        transform: rotate(-40deg);
    }

    100% {
        transform: rotate(40deg);
    }
}

.cable {
    width: 8px;
    height: 248px;
    background-image: linear-gradient(rgb(32 148 218 / 70%), rgb(193 65 25)), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}

.cover {
    width: 200px;
    height: 80px;
    background: #0bd5e8;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    z-index: 200;
}

.in-cover {
    width: 100%;
    max-width: 200px;
    height: 20px;
    border-radius: 100%;
    background: #08ffff;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    bottom: -9px;
    z-index: 100;
}

    .in-cover .bulb {
        width: 50px;
        height: 50px;
        background-color: #08fffa;
        border-radius: 50%;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -20px;
        margin: 0px auto;
        -webkit-box-shadow: 0 0 15px 7px rgba(0,255,255,0.8), 0 0 40px 25px rgba(0,255,255,0.5), -75px 0 30px 15px rgba(0,255,255,0.2);
        box-shadow: 0 0 25px 7px rgb(127 255 255 / 80%), 0 0 64px 47px rgba(0,255,255,0.5), 0px 0 30px 15px rgba(0,255,255,0.2);
    }


.light {
    width: 200px;
    height: 0px;
    border-bottom: 900px solid rgb(44 255 255 / 24%);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 270px;
    margin: 0px auto;
    z-index: 1;
    border-radius: 90px 90px 0px 0px;
}
/* 2.3. END Lamp */
/***********************************
      /* 2. END CONTENT */
/***********************************/

/***********************************
      /* 3. RESPONSIVE */
/***********************************/
.error {
    overflow: hidden;
    max-height: 100vh;
}

@media (max-width: 1400px) {
    .lamp {
        zoom: .5;
    }

    .error__content {
        top: 55%;
    }

    .message__title {
        font-size: 3.5rem;
    }
}

@media (max-width: 900px) {

    .message__title {
        font-size: 34px;
    }

    .error__content {
        top: 55%;
    }
}

@media (max-width: 950px) {
    .lamp__wrap {
        max-height: 100vh;
        overflow: hidden;
        max-width: 100vw;
    }

    .error__social {
        bottom: 30px;
        top: auto;
        transform: none;
        width: 100%;
        position: fixed;
        left: 0;
    }

    .e-social__icon {
        display: inline-block;
        padding-right: 30px;
    }

        .e-social__icon:last-child {
            padding-right: 0;
        }

    .e-social__icon {
        padding-bottom: 0;
    }
}

@media (max-width: 750px) {
    body, html, {
        max-height: 100vh;
    }

    .error__content {
        position: static;
        margin: 0 auto;
        transform: none;
        padding-top: 300px;
    }

    .error {
        padding-top: 0;
        padding-bottom: 100px;
        height: 100vh;
    }
}

@media (max-width: 650px) {
    .message__title {
        font-size: 36px;
        padding-bottom: 20px;
    }

    .message__text {
        font-size: 16px;
        line-height: 2;
        padding-right: 20px;
        padding-left: 20px;
    }

    .lamp {
        zoom: .6;
    }

    .error__content {
        padding-top: 180px;
    }
}

@media (max-width: 480px) {

    .message__title {
        font-size: 30px;
    }

    .message__text {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    .error__nav {
        margin-top: 20px;
    }
}

/*Photos*/

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.photo-container {
    display: inline-flex;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.photo-item {
    width: 200px;
    height: 276px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.photo-item:hover {
    transform: scale(1.05);
}

.photo-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.lightbox.active {
    display: flex;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}


/*Videos*/
h2 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
}

.video-wrapper {
    position: relative;
    width: 340px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-title {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}