@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    var currentPage = Context.Request.Path.ToString().ToLower();
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="text-align: left !important">
            <button class="btn-login rounded-pill" style="width: 163px;height: 29px;">
                <a class="nav-link login-btn" style="padding-top: 0;padding-bottom: 10px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><strong style="color: black !important; font-size: 17px">@User.Identity?.Name</strong></a>
            </button>
        </li>
        <li class="nav-item" style="text-align: left !important">
            <button class="btn-login rounded-pill" style="width: 163px;height: 29px;">
                <a class="nav-link text-white login-btn" style="padding-top: 0;padding-bottom: 10px;" asp-area="" asp-page="/Critic/Become"><strong style="color: black !important; font-size: 17px">Become Critic</strong></a>
            </button>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="btn-login rounded-pill"><strong style="color: black !important;">Sign Out</strong></button>
            </form>
        </li>
    }
    else if (currentPage is "/identity/account/login" or "/identity/account/register")
    {

    }
    else if (currentPage is "/" or "/home/index")
    {
        <li class="nav-item">
            <button class="btn-login rounded-pill">
                <a class="nav-link login-btn" asp-area="Identity" asp-page="/Account/Login"><strong style="color: black !important;">Sign In</strong></a>
            </button>
        </li>
    }
    else
    {
        <li class="nav-item">
            <button class="btn-login rounded-pill" style="margin-right: 5px">
                <a class="nav-link text-white login-btn" asp-area="Identity" asp-page="/Account/Login"><strong style="color: black !important;">Sign In</strong></a>
            </button>
        </li>

        <li class="nav-item">
            <button class="btn-login rounded-pill">
                <a class="nav-link text-white login-btn" asp-area="Identity" asp-page="/Account/Register"><strong style="color: black !important;">Register</strong></a>
            </button>
        </li>
    }
</ul>