@using Microsoft.AspNetCore.Identity
@using FilmIdea.Services.Data.Interfaces

@inject SignInManager<ApplicationUser> SignInManager
@inject ICriticService CriticService
@{
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    bool isCritic = await CriticService.CriticExistByUserIdAsync(userId);

    var criticName = await CriticService.GetCriticName(userId!);

    var currentPage = Context.Request.Path.ToString().ToLower();
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (!isCritic)
        {
            <li class="nav-item">
                <a class="nav-link nav-text-white nav-element" asp-area="" asp-controller="Critic" asp-action="Become"><strong>Become Critic</strong></a>
            </li>
            <li>
                <span class="nav-text-white" style="margin-top: 14px;">|</span>
            </li>
            <li>
                <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button class=" btn nav-link nav-text-white nav-element"><strong>Sign Out</strong></button>
                </form>
            </li>
        }
        else
        {
        <li class="nav-item dropdown menu-element" style="text-align: left !important">
                <div>
                    <a class="btn nav-link nav-text-white nav-element m-0" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"><strong>@criticName</strong></a>
                    <ul class="dropdown-menu mt-0" style="width: 100%;background-color: #404345;" aria-labelledly="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Critic" asp-action="Details"><b>My profile</b></a>
                        </li>
                        <li>
                            <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button class="dropdown-item nav-link text-white"><b>Sign Out</b></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </li>
        }
    }
    else if (currentPage is "/" or "/home/index")
    {
        <li class="nav-item">
            <button class="btn-login rounded-pill">
                <a class="nav-link login-btn" asp-area="" asp-controller="User" asp-action="Login"><strong style="color: black !important;">Sign In</strong></a>
            </button>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link nav-text-white nav-element" asp-area="" asp-controller="User" asp-action="Login"><strong >Sign In</strong></a>
        </li>
        <span class="nav-text-white m-" style="margin-top: 14px; margin-right: 0">|</span>
        <li class="nav-item">
            <a class="nav-link nav-text-white nav-element" asp-area="" asp-controller="User" asp-action="Register"><strong>Register</strong></a>
        </li>
    }
</ul>