@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MoviesAndTopViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = $"List of {ViewBag.GenreName} Genres";

    var movies = Model.TopMovies.ToList();
}

<div class="m-5 center-container">
    <h3>@ViewBag.GenreName Genres</h3>
</div>
<hr/>

<partial name="_MoviesPartial" model="Model.Movies" />