@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MoviesAndTopViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "List of New Movies";

    var movies = Model.TopMovies.ToList();
}

<div class="m-2 center-container">
    <h3>New Movies</h3>
</div>
<hr/>

<partial name="_MoviesPartial" model="Model.Movies"/>

